[Unit]
Description=Install HASS Supervised
Requires=docker.service
After=docker.service

[Service]
ExecStart=/entrypoint.sh

[Install]
WantedBy=multi-user.target